.card {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    border: solid 1px darkgoldenrod;
    background-color: goldenrod;
    border-radius: 8px;
    width: 600px;
    gap: 50px;
    margin: 5px;
}

.btn{
    border-radius: 8px;
    border: solid 1px rgb(170, 146, 87);
    background-color: rgb(224, 197, 130);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.025);
}

