// importar tipografias

// PALETA DE COLORES

$fuente-header: "Metal Mania", system-ui;
$fuente-titulos: "IM Fell Englesh SC", serif;
$fuente-textos: "Noto Sans", sans-serif;

$color-intenso: #0C151D;
$color-suave: #2A374D;
$color-claro: #ACA28D;
$color-detalles: #522623;
$color-alterno: #9F6932;
$color-hover: cyan;
$color-focus: #828DA8;
$color-active: yellow;