// importar tipografias

// PALETA DE COLORES

$fuente-header: "Metal Mania", system-ui;
$fuente-titulos: "IM Fell Englesh SC", serif;
$fuente-textos: "Noto Sans", sans-serif;

$color-intenso: #1e4650;
$color-suave: #bfd5c8;
$color-claro: #f4eddb;
$color-detalles: #401023;
$color-alterno: #ff7133;
$color-hover: cyan;
$color-focus: #828DA8;
$color-active: yellow;