@use "variables" as*;

body{
    background-color: $color-claro;
    color: $color-alterno;
    font-family: $fuente-textos;
    margin: 0;
}

nav{
    background-color: $color-claro;
}

#vista-home{
    background-color: $color-intenso;
}

h1{
    font-family: $fuente-header;
    background-color: $color-claro;
    padding: 1rem;
    margin: 0;
}

#vista-home h2{
    background-color: $color-alterno;
    color: $color-claro;
    padding: 1rem;
    padding-left: 2rem;
    margin: 0;
}

.container-saldos{
    display: flex;
    flex-direction: row;
    text-align: center;
    max-width: 100%;
    justify-content: space-around;
    background-color: $color-intenso;
    padding: 2rem;
    margin: 0;
}

.saldos{
    background-color: $color-alterno;
    color: $color-claro;
    border-radius: 8px;
    width: 250px;
    gap: 50px;
    margin: 5px;
    padding: 0.5rem;
}

.saldos:hover{
    font-weight: bolder;
    color: $color-claro;
    transform: scale(1.045);
    border: solid 2px $color-suave;
}


#vista-ordendepago{
    padding: 1rem;
    background-color: $color-claro;
}

.encabezados {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:space-around;
    border: solid 1px $color-claro;
    background-color: $color-intenso;
    color: $color-claro;
    font-weight: bolder;
    border-radius: 8px;
    gap: 30px;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:space-around;
    border: solid 1px $color-claro;
    background-color: $color-suave;
    color: $color-intenso;
    border-radius: 8px;
    margin: 5px;
}

.card:hover{
    font-weight: bolder;
    background-color: $color-alterno;
    color: $color-claro;
    transform: scale(1.045);
}

#btnHome, #btnOrdenPago, #btnHistorial, #reiniciar-ordendepago, #realizar-pago{
    border-radius: 8px;
    border: solid 1px $color-suave;
    background-color: $color-intenso;
    color: $color-claro;
    padding: 0.5rem;
    cursor: pointer;
}

#btnHome:hover, #btnOrdenPago:hover, #btnHistorial:hover, #reiniciar-ordendepago:hover, #realizar-pago:hover{
    transform: scale(1.045);
}

#vista-historial{
    background-color: $color-claro;
    padding: 1rem;
}

#vista-historial p{
    color: $color-suave;
    font-style:italic;
}

ul{
    list-style: none;
    color: $color-claro;
}
#historial{
    background-color: $color-intenso;
    padding: 1rem;
    border-radius: 8px;
}

h3, #total-ordendepago{
    color: $color-intenso;
    padding-left: 1rem;
}
